<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://t3.ftcdn.net/jpg/06/52/50/84/360_F_652508416_PMVJMXZMgnpHmlUIoEnV6xlSTojSwiQ3.jpg);">
  <div class="container">
    <h1>CINEMA-Collection</h1>
    <p>Create your favorite movie lists by category</p>
  </div>
</div>
